<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.budgetapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/my_button"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EventOther"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity android:name=".EventFarewell"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EventReunion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EventBirthday"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EventCardView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateIncome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddToBudgetTab"
            android:label="@string/title_activity_add_to_budget_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddExpense"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".viewExpense"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".AddtoBudgetExpense"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".View_Income"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".BudgetHistory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddIncome"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".eventListView"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".EventTab"
            android:label="@string/title_activity_event_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".familyListView"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".IndividualListView"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Reminder"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".Expenses"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Income"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Family"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Home"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Individual1"
            android:label="@string/title_activity_Individual"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


        <activity
            android:name=".Firstdisplay"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>